

  {# ========== begin subsection nav ========== #}
  
<ul class="subsectionnav nav-underline">
  {% for p in site.pages|sort_by_weight %}
    {% if page.section in p.path %}
      
      <li class="nav-item">
        <a class="nav-link{% if p.path == page.path %} active{% else %}" href="{{ url(p.path) }}{% endif %}">
          {{ p.title }}
        </a>
      </li>
      
    {% endif %}
  {% endfor %}
</ul>

  {# ========== end subsection nav ========== #}

