{# all "showable pages by default #}
{% set pages = site.pages.showable %}
{# in case of a list page, take its sub pages #}
{% if page.pages is defined %}
  {%- set pages = page.pages -%}
{% endif %}
{# in case of a paginated list page, take the paginator list pages #}
{% if page.paginator.pages is defined %}
  {%- set pages = page.paginator.pages -%}
{% endif %}

{% extends '_default/page.html.twig' %}


        {%- block content ~%}
        <div class="row g-5">
          <div class="col-12 col-lg-9 order-lg-last">
          {% include 'partials/languages.html.twig' %}
          {%- block content_header %}
            <div class="take-back-control">
              <h2 id="page-title">{{ page.title }}</h2>
            </div>
          {% endblock content_header ~%}
          {{ page.content }}
          {%- block content_footer %}{% endblock content_footer ~%}
          </div>
          <div class="col-12 col-lg-3 order-lg-first">
            {% include 'partials/subsectionnav.html.twig' %}
          </div>
        </div>
        {%- endblock content ~%}